<article class="project-card">
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  {{#if code}}
  <code>{{code}}</code>
  {{/if}}
  {{#if image}}
  <img class="project_img" src="{{image}}" alt="{{title}}">
  {{/if}}
</article>
